<div class="navbar-fixed" style="line-height: 0px;">
<nav class="white">
    <div class="nav-wrapper" >

      <div class="logo-flex">
        <img src="/imgs/mau-logo.png" class="brand-logo left" alt="">
        <h6>BLOODDONATION</h6>
      </div>

          <div>

          </div>


        <div class="right hide-on-med-and-down nav-links">
            <a href="#" data-target="dropdown1" class="dropdown-trigger right"><i class="material-icons">menu</i></a>

            <a href="sass.html">Sass</a>
            <a href="badges.html">Components</a>
            <a href="collapsible.html">JavaScript</a>
        </div>

    </div>
  </nav>
  </div>

  <ul class="dropdown-content" id="dropdown1">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>

  </ul>