<div style="margin-bottom: 200px;">


    <div class="firstbody" >
      <div>
        <h2>Donate Blood Today!</h2>
      </div>

      <div>
        <p>Blood is the most precious gift that anyone can give to another person.</p>
        <p>Donating blood not only saves the life also save donors lives</p>
      </div>

      <div>
        <a href="" class="btn" style="background-color: red;">Donate Now</a>
      </div>
    </div>

    <div class="secondbody">
      <div class="secondbody-section">
        <img src="/imgs/become-a-donor.jpg" alt="" >
        <h3>Become a Donor</h3>
        <p>To save a life you donate. By donating just one unit of blood, you can save three lives or even several lives</p>
      </div>

      <div class="secondbody-section"
       {{!-- style="margin-left: 100px" --}}
       >

        <img src="/imgs/why-give-a-blood.jpg" alt="">
        <h3>Why Give Blood</h3>
        <p>Blood is the most precious gift that anyone can give to another person. Donating blood not only saves the life it also saves the donors</p>
      </div>

      <div class="secondbody-section"
      {{!-- style="margin-left: 100px" --}}
      >
        <img src="/imgs/how-does-it-works.jpg" alt="">
        <h3>How to Your Donation Helps</h3>
        <p>In many countries, demand exceeds supply, and blood services face the challenges of making blood available for patient</p>
      </div>
    </div>


</div>